.profile-container{
  width: 600px;
  margin: 24px auto;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.32);
}
.profile-header{
  position: relative;
  height: 80px;
  background: #667DFF;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.profile-header-avatar{
  position: absolute;
  top: 30px;
  left: 24px;
  border: 3px solid #fff;
  margin: -3px 0 0 -3px;
}
.profile-header h1{
  position: absolute;
  top: 24px;
  left: 148px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: .2px;
  color: #fff;
}
.profile-subheader{
  display: flex;
  align-items: center;
  margin-top: 4px;
  font-size: 14px;
}
.profile-subheader-dot{
  height: 6px;
  width: 6px;
  margin: 2px 6px 0 6px;
  background: #9d9d9f;
  border-radius: 50%;
}
.profile-subheader-rating{
  margin-top: 4px;
}
.profile-body{
  padding-left: 148px;
  padding-bottom: 16px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.profile-section{
  width: 344px;
  padding: 16px 16px 0 0;
}
.subheader{
  margin-bottom: 4px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.profile-body p{
  margin: 8px 0;
}
.profile-category-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 0;
}
